@model EventsApp.Models.Event


<h2 class="text-center mt-5 text-white">Add an event</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 text-white">
            @* This HTML BeginForm Helper just automatically binds the value inside the textbox so that it matches the name of the
                attribute in our model, for example :
            *@
            @using (Html.BeginForm(actionName: "New", controllerName: "Events",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Event Title") @*here as well *@
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" }) @*here, we must type exactly how it is named
                    into our database, if we typed "title", it would work, we need to type it perfectly so it knows how to automatically
                    bind it to that attribute. It remains the same for the textboxes below and in other views like Edit
                *@

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Content", "Description of the event")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })

                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br />

                <br />

                <label>Select a tag</label>
                @Html.DropDownListFor(m => m.TagId, new SelectList(Model.AllTags, "Value", "Text"),
            "Selectati Tagul", new { @class = "form-control" })
            @* dropdownlist means exactly what the name says, it generates a dropdown with the elements we gave it into the Model.AllTags*@

                @Html.ValidationMessageFor(m => m.TagId, null, new { @class = "text-danger" })
                @* show the validation message*@
                <br />

                <br />

                


                @Html.Label("StartDate", "Start Date")
                <br />
                @Html.TextBox("StartDate", null, new { @class = "form-control", @type = "date" })
                <br />
                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("EndDate", "End Date")
                <br />
                @Html.TextBox("EndDate", null, new { @class = "form-control", @type = "date" })
                <br />
                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                <br />

                @Html.Label("Link", "Link to the event")
                <br />
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Link, null, new { @class = "text-danger" })

                <button class="btn btn-warning" type="submit">Add event</button>
            }

        </div>
    </div>
</div>








